<div class="container">
  <h1>Rails Tutorial Ver. 7 with Docker and Google Cloud Run</h1>
  <p>このページは、Railsチュートリアル第7版を基本にして、Docker, Google Cloud Runを使った開発環境構築を記録するページです。</p>
  <a href="/users/new">Sign up new user</a>
</div>



