@import "bootstrap";

.table {
  text-align: center;
  thead th {
    text-align: center;
  }
}



.signup-button {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

/* forms */
input, textarea, select {
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  height: 3rem;
}

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

/* general layout */
.login-name {
  height: 3rem;

}